#root{
  overflow: hidden;
  background-image: url('assets/img/night_city_window_rain_131009_3840x2160_magicstudio_c5k9snmy8h.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App {
  text-align: center;
  
}